
/* DIVS AND TOOLS */

#sub-menu{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

#sub-menu img{
    object-fit: cover;
    width: 100%;
    height: 23em;
}

#description{
    width: 95%;
}

#description p{
    text-align: center;
    margin-bottom: 0.3em;
}

#description hr{
    width: 40%;
    margin: 0 auto;
    margin-bottom: 3em;
}

#augments-container{
    width: 98%;
    display: flex;
    justify-content: center;
    gap: 3em;
}

.augments-box{
    width: 45%;
    min-height: 30em;
    border: solid black 3px;
    border-radius: 15px;
    padding: 0 25px;
}

#major-augments{
    background-color: #1F596F;
}

#minor-augments{
    background-color: #726926;
}

.augments-title{
    text-align: center;
}

.augments-title hr{
    border: solid 1px white;
}

.augment-description{
    width: 95%;
    margin: 0 auto;
}

/* LIST ELEMENTS */

ul{
    padding-left: 20px;
}

li{
    margin: 20px 0;
}

li::marker{
    color: white;
}

/* BLOCK SELECTOR */
.block_selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    margin: 0 auto;
    width: 95%;
    height: auto;
}

@media screen and (max-width: 75em){
    .block_selector{
        width: 70%;
    }
}

.item{
    width: 237px;
    height: 167px;
    border: solid black 2px;
    background-color: #1A694D;
    border-radius: 20px 20px 20px 0;
    font-family: var(--FONT-HEADING);
    color: white;
    font-style: bold;
    user-select: none;
}

.item:hover{
    background-color: #20647C;
}

.item img{
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 17px 17px 0 0;
}

.item p{
    margin: 0 4px;
}

/* TEXT ELEMENTS */

h3{
    font-size: 1.7em;
    font-family: var(--MAIN-FONT);
    margin-bottom: 0;
    color: white;
}

strong{
    font-family: var(--MAIN-FONT);
    color: white;
    font-size: 1.5em;
}

span{
    font-family: var(--MAIN-FONT);
    color: white;
    font-size: 1.3em;
    font-weight: 300;
}

a{
    text-decoration: none;
}