<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="../static/CSS/base.css">
        <link rel="stylesheet" href="../static/CSS/about.css">
    </head>

    <body>
        <div id="main_div">
            <header>
                {% include 'header.html' %}
            </header>

            <main>
                <div id="headline">
                    <h1>About Me</h1>
                    <hr>
                </div>

                <div id="message">
                    <img src="../static/resources/self_portrait.png" alt="self_portrait">
                    <p>As a big fan of the Zombies series from all the Call of Duty Black Ops, i wanted to create a Prototype of a 
                        Website that contains multiple guides and additional info for all the zombies maps for Black Ops 6.<br>
                        This a the same time, helps me to learn multiple tecnologies that i still haven't learn yet in my
                        Computing Enginnering career, since i have always worked in the creation of software, not Web Development.<br>
                        I hope this project still manages to continue, since it's kinda of a hobbie for me and i like working in it :)
                    </p>
                </div>
                <hr>
            </main>

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>
    </body>



</html>