<!DOCTYPE html>
<html lang="en">

    <head>
        <title>{{ item.name }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/CSS/base.css">
        <link rel="stylesheet" href="../static/CSS/augments.css">
    </head>

    <body>
        <div id="main_div">
            <header>
                {% include 'header.html' %}
            </header>

            <main>
                <div id="title-head">
                    <h1>{{ item.name }}</h1>
                    <div id="descrition-head">
                        <form action="{{ url_for('item_selector', category=category, id=item.id) }}" method="POST">
                            <button class="control-button" type="submit" name="value" value="-1"><i class='fa fa-angle-left' style="font-size: 24px;"></i></button>
                            <button class="control-button" type="submit" name="value" value="1"><i class='fa fa-angle-right' style="font-size: 24px;"></i></button>
                        </form>
                    </div>
                </div>
                <hr>
                <div id="sub-menu">
                    <img src="../static/resources/{{ category }}/wallpaper/{{ item.img_wallpaper }}">
                    <div id="description">
                        <p>{{ item.description }}</p>
                        <hr>
                    </div>
                    
                    <div id="augments-container">
                        <div id="major-augments" class="augments-box">
                            <div class="augments-title">
                                <h3>Major Augments</h3>
                                <hr>
                            </div>
                            <div class="augment-description">
                                <ul>
                                    {% for augment in item.major_augments %}    
                                    <li>
                                        <strong>{{ augment.title }}</strong><br>
                                        <span>{{ augment.description }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div id="minor-augments" class="augments-box">
                            <div class="augments-title">
                                <h3>Minor Augments</h3>
                                <hr>
                            </div>
                            <div class="augment-description">
                                <ul>
                                    {% for augment in item.minor_augments %}   
                                    <li>
                                        <strong>{{ augment.title }}</strong><br>
                                        <span>{{ augment.description }}</span>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="title_1">
                    <h2>Additonal Items</h2>
                    <hr>
                    <div class="block_selector">
                        {% for item in adittional_items %}
                            <a class="item" href="{{ url_for('augments', category=item.category, id=item.id) }}">
                                <img src="../static/resources/{{item.category}}/logo/{{ item.img_logo }}">
                                <p>{{ item.name }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </main>

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>
    </body>


</html>