<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="../static/CSS/balmung_symbols.css">
    </head>

    <div id="Balmung-Symbols">
                                
        <div id="Symbol-Container"></div>

        <div id="Artifact-Selector">
            <img src="../static/resources/tools_resources/citadelle_des_morts/crow_artifact.jpg" alt="crow_artifact" onclick="get_symbols(2)">
            <img src="../static/resources/tools_resources/citadelle_des_morts/fish_artifact.jpg" alt="fish_artifact" onclick="get_symbols(3)">
            <img src="../static/resources/tools_resources/citadelle_des_morts/scorpion_artifact.jpg" alt="scorpion_artifact" onclick="get_symbols(4)">
            <img src="../static/resources/tools_resources/citadelle_des_morts/horn_artifact.jpg" alt="horn_artifact" onclick="get_symbols(1)">
            <img src="../static/resources/tools_resources/citadelle_des_morts/jaw_artifact.jpg" alt="jaw_artifact" onclick="get_symbols(0)">
        </div>

        <button class="balmung-button" onclick="reset_symbols()">RESET</button>
    </div>
</html>