<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/base.css"/>
        <link rel="stylesheet" href="../static/CSS/index.css"/>
    </head>
    
    <body>
        <div id="main_div">
            <header>
                {% include 'header.html' %}
                <!-- <div id="header-div"> -->
                    <!-- <img  -->
                        <!-- src="../static/resources/black_ops_zombies_logo.png"  -->
                        <!-- alt="call of duty black ops 6 zombies logo"  -->
                        <!-- id="header-logo" -->
                    <!-- /> -->
                    <!-- <div class="links-bar"> -->
                        <!-- <a name="home" class="link">Home</a> -->
                        <!-- <a name="about" class="link">About Us</a> -->
                    <!-- </div> -->
                <!-- </div> -->
            </header>

            <main>
                <!-- <div class="title_1"> -->
                    <!-- <h2>Newest Guides</h2> -->
                    <!-- <hr> -->
                <!-- </div> -->
                <div class="title_1">
                    <h2>Zombies Maps</h2>
                    <hr>
                    <div class="block_selector">
                        <a class="item">
                            <img src="../static/resources/cod-bo6-citadelle-des-morts-wall-buy-locations-4e128ba.jpg" alt="Citaddlle Des Morts Image">
                            <p>Citadelle Des Morts</p>
                        </a>

                        <a class="item">
                            <img src="../static/resources/8a6dcf6a-e02d-fa01-d558-c7273f3403c9.webp" alt="Terminus Images">
                            <p>Terminus</p>
                        </a>

                        <a class="item">
                            <img src="../static/resources/Black-Ops-6-Zombies---Liberty-Falls-Bank-Vault-Header.webp" alt="Liberty Falls Image">
                            <p>Liberty Falls</p>
                        </a>
                    </div>
                </div>
                <div class="title_1">
                    <h2>Perks Augments</h2>
                    <hr>
                </div>
            </main>

            <footer>
                {% include 'footer.html' %}
                <!-- <img src="../static/resources/svg/github.svg" alt="GitHub Logo"> -->
            </footer>
        </div>
    </body>
</html>