<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../static/CSS/index.css"/>
    </head>
    
    <body>
        <div id="main_div">
            <header>
                <div id="header-div">
                    <img 
                        src="../static/resources/black_ops_zombies_logo.png" 
                        alt="call of duty black ops 6 zombies logo" 
                        id="header-logo"
                    />
                    <a name="home">Home</a>
                    <a name="about">About</a>
                    <!-- CAMBIAR A LINKS ESOS BOTONES -->
                </div>
            </header>

            <main>
                <div class="title_1">
                    <h2>Newest Guides</h2>
                    <hr>
                </div>
                <div class="title_1">
                    <h2>Zombies Maps</h2>
                    <hr>
                </div>
                <div class="title_1">
                    <h2>Perks Augments</h2>
                    <hr>
                </div>
            </main>

            <footer>
                <img src="../static/resources/svg/github.svg" alt="GitHub Logo">
            </footer>
        </div>
    </body>
</html>