<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../static/CSS/base.css">
        <link rel="stylesheet" href="../static/CSS/tools.css">
        <link rel="stylesheet" href="../static/CSS/beamsmasher_equation.css">
        <script src="../static/JS/tools.js"></script>
    </head>

    <body>
        <div id="main_div">
            <header>
                {% include 'header.html' %}
            </header>
            
            <main>
                <div id="main-container">
                    <div id="toolbox-container">
                        <h2>Toolbox</h2>
                        <hr>
                        <div id="toolbox">
                            {% for item in main_items %}

                            <div class="main-item" id="{{ item.main_name }}">
                                <button class="item-header" onclick="open_close('{{ item.main_name }}')">
                                    <img src="../static/resources/svg/chevron-right.svg" alt="right-arrow">
                                    <span>{{ item.main_name }}</span>
                                </button>

                                <div class="item-content-container">
                                    {% for tool in item.tools %}
                                    
                                    <button class="item-content">
                                        <img src="../static/resources/svg/dot.svg" alt="dot">
                                        <span>{{ tool.name }}</span>
                                    </button>
                                    
                                    {% endfor %}
                                </div>
                            </div>

                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <div id="tool-view-container">
                        <h2 id="title-tool">Beamsmasher Equation</h2>
                        <hr>
                        <div class="tool-info-container">
                            <!-- <h1>Select a Tool from the Toolbox</h1>
                            <hr> -->
                            <div id="Beamsmasher-Equation">
                                <div id="chalkboard-container">
                                    <script src="../static/JS/beamsmasher_equation.js"></script>

                                    <div class="chalkboard-row">    
                                        <div class="chalkboard-number-cell">0.</div>
                                        <div class="chalkboard-2-4-space"></div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-01.png" alt="symbol-00" onclick="calculate_equations(0)">
                                        </div>
                                    </div>

                                    <div class="chalkboard-row">
                                        <div class="chalkboard-number-cell">1.</div>
                                        <div class="chalkboard-2-3-space"></div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-03.png" alt="symbol-11" onclick="calculate_equations(11)">
                                        </div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-02.png" alt="symbol-10" onclick="calculate_equations(10)">
                                        </div>
                                    </div>

                                    <div class="chalkboard-row">
                                        <div class="chalkboard-number-cell">2.</div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-06.png" alt="symbol-22" onclick="calculate_equations(22)">
                                        </div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-05.png" alt="symbol-21" onclick="calculate_equations(21)">
                                        </div>
                                        <div class="chalkboard-symbol-cell">
                                            <img src="../static/resources/tools_resources/terminus/symbols-04.png" alt="symbol-20" onclick="calculate_equations(20)">
                                        </div>
                                    </div>

                                    <div class="chalkboard-row empty">
                                        <div class="chalkboard-1-2"></div>
                                        <div class="chalkboard-number-cell empty">2.</div>
                                        <div class="chalkboard-number-cell empty">1.</div>
                                        <div class="chalkboard-number-cell empty">0.</div>
                                    </div>
                                </div>

                                <div id="variables-container">
                                    <div class="variable-item">
                                        <div class="variable x" id="x_value">X</div>
                                        <button class="beamsmasher-button" onclick="set_initial_index(0)">SET</button>
                                    </div>
                                    <div class="variable-item">
                                        <div class="variable y" id="y_value">Y</div>
                                        <button class="beamsmasher-button" onclick="set_initial_index(1)">SET</button>
                                    </div>
                                    <div class="variable-item">
                                        <div class="variable z" id="z_value">Z</div>
                                        <button class="beamsmasher-button" onclick="set_initial_index(2)">SET</button>
                                    </div>
                                </div>

                                <div id="answer-variables">
                                    <span id="ans1">- -</span>
                                    <span id="ans2">- -</span>
                                    <span id="ans3">- -</span>
                                </div>

                                <button id="reset" class="beamsmasher-button" onclick="reset_all()">RESET</button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>
    </body>

</html>