<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="../static/CSS/base.css">
        <link rel="stylesheet" href="../static/CSS/tools.css">
        <link rel="stylesheet" href="../static/CSS/balmung_symbols.css">
        <script src="../static/JS/tools.js"></script>
    </head>

    <body>
        <div id="main_div">
            <header>
                {% include 'header.html' %}
            </header>
            
            <main>
                <div id="main-container">
                    <div id="toolbox-container">
                        <h2>Toolbox</h2>
                        <hr>
                        <div id="toolbox">
                            {% for item in main_items %}

                            <div class="main-item" id="{{ item.main_name }}">
                                <button class="item-header" onclick="open_close('{{ item.main_name }}')">
                                    <img src="../static/resources/svg/chevron-right.svg" alt="right-arrow">
                                    <span>{{ item.main_name }}</span>
                                </button>

                                <div class="item-content-container">
                                    {% for tool in item.tools %}
                                    
                                    <button class="item-content" onclick="fetch_tool_item('{{ tool.id }}', '{{ tool.name }}')">
                                        <img src="../static/resources/svg/dot.svg" alt="dot">
                                        <span>{{ tool.name }}</span>
                                    </button>
                                    
                                    {% endfor %}
                                </div>
                            </div>

                            {% endfor %}
                            
                        </div>
                    </div>
                    
                    <div id="tool-view-container">
                        <h2 id="title-tool">Tool Selection</h2>
                        <hr>
                        <div id="tool-info-container">
                            
                            <!-- <h1>Select a Tool from the Toolbox</h1> -->
                            <!-- <hr> -->

                            <div id="Balmung-Symbols">
                                
                                <div id="Symbol-Container">
                                    <img src="../static/resources/svg/Alchemical_air_symbol.svg" alt="Air_Symbol">
                                </div>

                                <div id="Artifact-Selector">
                                    <img src="../static/resources/tools_resources/citadelle_des_morts/crow_artifact.jpg" alt="crow_artifact">
                                    <img src="../static/resources/tools_resources/citadelle_des_morts/fish_artifact.jpg" alt="fish_artifact">
                                    <img src="../static/resources/tools_resources/citadelle_des_morts/scorpion_artifact.jpg" alt="scorpion_artifact">
                                    <img src="../static/resources/tools_resources/citadelle_des_morts/horn_artifact.jpg" alt="horn_artifact">
                                    <img src="../static/resources/tools_resources/citadelle_des_morts/jaw_artifact.jpg" alt="jaw_artifact">
                                </div>

                                <button class="balmung-button">
                                    RESET
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <footer>
                {% include 'footer.html' %}
            </footer>
        </div>
    </body>

</html>